[build]
  functions = "netlify/functions"

[dev]
  framework = "#static"

[[redirects]]
  from = "/photo/:slug"
  to = "/.netlify/functions/photo?id=:slug"
  status = 301
  force = true

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200
